* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    line-height: 1.625rem;
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    --white-color: #fff;
    --bg-main: #f0f8ff;
    --bg-dark: #18191A;
    --card-dark: #242526;
    --primary-color: #050505;
    --text-color: #777777;
    --text-color-dark: #B0B3B8;
    --blue-color: #1877f2;
    --blue-color-2: #e9f5ff;
}

.app {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background: var(--bg-main);
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.app.dark {
    background: var(--bg-dark);
}
.card {
    position: absolute;
    max-width: 600px;
    height: 380px;
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--white-color);
    border-radius: 7px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.app.dark .card {
    background: var(--card-dark);
    
}
.card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__title--img {
    width: 27%;
    flex-shrink: 0;
}
.card__title--img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.card__title--name {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}
.card__title--name h1 {
    position: relative;
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: center;
}
.app.dark .card__title--name h1 {
    color: var(--white-color);
}
.card__title--name .fa {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    color: var(--blue-color);
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-left: 5px;
    cursor: pointer;
    
}

.card__title--description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card__title--description p {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
}

.app.dark .card__title--description p {
    color: var(--text-color-dark);
}

.card__body {
    width: 100%;
    margin-top: 20px;
}
.card__list {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card__item {
    position: relative;
    margin-left: 15px;
    background: var(--blue-color-2);
    border-radius: 50%;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    overflow: hidden;
}
.app.dark .card__item {
    background: var(--bg-dark);
}
.card__item::before {
    position: absolute;
    content: "";
    background: var(--blue-color);
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 50%;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.card__item:hover .link__icon {
    color: var(--white-color);
}
.card__item:hover::before {
    transform: scale(1);
}
.card__item:first-child {
    margin-left: 0;
}

.card__link {
    position: relative;
    text-decoration: none;
}
.link__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--blue-color);
}

.link__icon .fa {
    font-size: 2.5rem;
}
.toggle__theme {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background: var(--blue-color-2);
    cursor: pointer;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.app.dark .toggle__theme {
    background: var(--bg-dark);
}
.toggle__theme .fa {
    font-size: 2rem;
    color: var(--blue-color);
}
/* .card__footer p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 1.8rem;
} */

