* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    line-height: 1.625rem;
    height: 100%;
}

:root {
    --white-color: #fff;
    --first-color: #8A00FF;
    --second-color: #00F0FF;
}
body {
    background: linear-gradient(120deg,var(--first-color),var(--second-color));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    position: absolute;
    max-width: 680px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 25px 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__title--img {
    width: 30%;
    flex-shrink: 0;
}
.card__title--img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}
.card__title--name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card__title--name h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
}

.card__title--description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card__title--description p {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
    line-height: 1.8rem;
}
.card__body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card__list {
    list-style: none;
    width: 100%;
}
.card__item {
    position: relative;
    margin-top: 10px;
    border: 2px solid var(--white-color);
    border-radius: 5px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    overflow: hidden;
}
.card__item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transform: skewX(45deg) translateX(-200%);
}
.card__item:hover::after {
    transform: skewX(45deg) translateX(700%);
}
.card__item:hover {
    z-index: 2;
    transform: translateY(-2px);
    background: var(--white-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.card__item .card__link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
    color: var(--white-color);
    text-decoration: none;
    text-transform: capitalize;
}
.card__item .card__link .link__icon {
    display: flex;
    position: absolute;
    left: 15px;
    width: 32px;
    height: 32px;
}
.card__item .card__link .link__icon .fa {
    display: block;
    margin: 0 auto;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 32px;
}
.card__item:hover .card__link .link__icon .fa {
    background-image: -webkit-linear-gradient(120deg,
     var(--second-color),var(--first-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card__item .card__link h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    line-height: 2.1rem;
}
.card__item:hover .card__link h2 {
    background-image: -webkit-linear-gradient(120deg,
     var(--second-color),var(--first-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card__footer {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card__footer p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
    line-height: 1.8rem;
}

